body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

nav li {
    display: inline;
    color: grey;
    font-size: 21px;
}

.header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.header p {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

.main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.main a p {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

div img {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    height: auto;

}



.footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: right;
    bottom: 0px;
    margin-right: 10px;
    
}